body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div 
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    background-color: #f23c4b;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    overflow-x: hidden;
}

div#full
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100%;
    background-position:top;
}

div#header
{
    display: block;
    width: 100%;
    height: 20vh;
}
div#footer
{
    display: block;
    width: 100%;
    height: 20vh;
}
div#container
{
    display: block;
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    border: 1px solid black;
}
ul#Rotate
{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    border-radius: 50%;
    background: url(../img/wheel.svg) no-repeat;
    background-size: 100%;
    padding: 0;
    transform: rotate(22.5deg);
    transform-origin: center;
    border: 1px solid red;
}

li.option
{
    display: block;
    position: absolute;
    border: 1px solid green;
    top: 0%;
    left: 30%;
    width: 20%;
    height: 30%;
    padding: 10% 10% 0% 10%;
    text-align: center;
    font: 1.2em sans-serif;;
    transform-origin: 50% 125%;
}

li.option.op1
{
    transform: rotate(0deg);
} 

li.option.op2
{
    transform: rotate(45deg);
} 

li.option.op3
{
    transform: rotate(90deg);
} 

li.option.op4
{
    transform: rotate(135deg);
} 

li.option.op5
{
    transform: rotate(180deg);
} 

li.option.op6
{
    transform: rotate(225deg);
} 

li.option.op7
{
    transform: rotate(270deg);
} 

li.option.op8
{
    transform: rotate(315deg);
} 

div#start
{
    position: absolute;
    width: 20%;
    height: 25%;
    left: 40%;
    top: 35%;
    background: url('../img/start.svg') no-repeat;
    background-size: 100%;
    cursor: pointer;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}